@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <style>
        body {
            background-image: url(/img/pizzanew.jpg);
            background-size: cover;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 style="color:whitesmoke;font-style:italic;margin-left:100px;margin-top:70px;font-size:60px;">Welcome To Cranky Yankee pizzeria</h1>
        <div class="btn btn-light" style="margin-left:400px;margin-top:50px;padding-left:25px;padding-right:25px;">

            @Html.ActionLink("Login", "Login")

        </div>
        <div class="btn btn-light " style="margin-left: 100px; margin-top: 50px; padding-left: 25px;padding-right:25px;">

            @Html.ActionLink("Register", "Register")

        </div>

        @*<img src="/img/pizzanew.jpg" alt="Image Missed" style="height:100%; width:100%; background-size:100% 100%; background-repeat: no-repeat; overflow-y:hidden; overflow-x:hidden" />*@
    </div>
</body>
</html>

